<div class="doc-footer">
    <p>
        Merci pour votre confiance. Ce document a été généré automatiquement par EnterpriseERP.
    </p>

    <p>
        EnterpriseERP AB — Stockholm, Suède —
        Téléphone : +46 70 736 45 55 —
        Email : bakarii447@gmail.com
    </p>
</div>