<div class="doc-header">
    <div class="doc-company">
        <div class="doc-logo">
            <i class="bi bi-buildings"></i>
        </div>

        <div>
            <h1>EnterpriseERP</h1>
            <p>Business Management Suite</p>
        </div>
    </div>

    <div class="doc-company-info">
        <strong>EnterpriseERP AB</strong><br />
        Adresse : Stockholm, Suède<br />
        Téléphone : +46 70 736 45 55<br />
        Email : bakarii447@gmail.com<br />
        Site web : www.enterpriseerp.com
    </div>
</div>